div.panel{
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

    div.panel h1{
        font-family: Open Sans, sans-serif;
        font-weight: 100;
        margin-left: 8px;
    }

        div.panel h1 strong{
            font-weight: bold;
        }

    div.panel svg{
        background-color: #F5F5F5;
    }

        



text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.name {
  font-weight: bold;
}

.about {
  fill: #777;
  font-size: smaller;
}

.link {
  fill: none;
  stroke: #E0E0E0;
    stroke-width: 2px;
  shape-rendering: crispEdges;
}